.header {
    grid-area: header;
    border: white solid 2px;
}

.login {
    padding-top: 10px;
    float: right;
    color: white;
}
.login a {
    padding-top: 10px;
    padding-right: 30px;
    float: right;
    color: white;
    text-decoration: none;
}
