.nav {
    display: grid;
    border: white solid 2px;
    grid-area: nav;
    padding: 20px;
    grid-template-rows: 1fr;
    grid-template-columns: 8fr;
}

.link a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
}

.link a:hover {
    text-decoration: none;
    cursor: pointer;
}

.link a:active {
    color: #fff;
    text-decoration: none;
}

.link a:visited {
    color: #fff;
    text-decoration: none;
}
