.container {
    padding-left: 20px ;
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogs {
    margin: 10px;
    font-size: 30px;
    font-weight: 800;
}
.messages {
    margin: 10px;
    font-size: 24px;
    font-weight: 400;
}
